<!DOCTYPE html>

<title>Contraseña Cambiada</title>

{% block body %}
    <style>
        td {
            background-color: #ffffff;
        }
    </style>
    <div style="margin:0 auto;padding:0px" bgcolor="#ffffff">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody><tr>
           <td align="center" valign="top" bgcolor="#ffffff" style="padding:10px 0">
              <table border="0" cellpadding="0" cellspacing="0" width="600" align="center"  style="max-width:600px;width:100%">
                    <tbody><tr>
                       <td align="center" valign="top" style="border:1px solid #dedede">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                             <tbody><tr>
                                <td align="center" valign="top">
                                   <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                                      <tbody><tr>
                                         <td align="center" valign="top" style="padding:23px 0">
                                            <img src="{{ logo }}" height="40" style="height:40px;vertical-align:middle" >
                                         </td>
                                      </tr>
                                   </tbody></table>
                                </td>
                             </tr>
                             <tr>
                                <td align="center" valign="top" style="padding:30px 25px;border-top:1px solid #e0e0e0">
                                   <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                                      <tbody><tr>
                                         <td align="left" valign="top" style="font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222222;font-weight:700;font-size:20px;line-height:26px;padding:0 0">
                                            ¡Contraseña generada con exito!
                                         </td>
                                      </tr>
                                      <tr>
                                         <td align="left" valign="top" style="font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222222;font-weight:400;font-size:14px;line-height:22px;padding:20px 0 0">
                                           Su contraseña se ha vuelto a cargar al sistema y ya ha sido validada, por favor utilize los siguientes datos proporcionados para ingresar a su cuenta nuevamente.
                                         </td>
                                      </tr>
                                      <tr>
                                         <td>
                                          <br>
                                          Sus datos para ingresar son los siguientes:
                                          <br>
                                          <span style="font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222222;font-weight:400;font-size:18px;line-height:22px;padding:20px 0 0" > <strong style="color: #C1007F;">Email:  </strong>{{ email }}</span>
                                          <br>
                                          <span style="font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222222;font-weight:400;font-size:18px;line-height:22px;padding:20px 0 0" > <strong style="color: #C1007F;">Clave:  </strong>{{ password }}</span>
                                         </td>
                                      </tr>
                                   
                                   </tbody></table>
                                </td>
                             </tr>
                             <tr>
                             </tr>
                             <tr>
                                <td align="center" valign="top">
                                   <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                                      <tbody>
                                      <tr>
                                         <td align="center" valign="top" bgcolor="#ffffff" style="padding:24px 24px">
                                            <table style="width:100%" cellpadding="0" cellspacing="0">
                                               <tbody><tr>
                                                  <td align="left" valign="middle">
                                                     <img src="{{ logo }}" height="24" width="70"  style="display:block" >
                                                  </td>
                                                  <td align="right" valign="middle" style="font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;color:#d6dde1;font-weight:400;font-size:12px;line-height:14px;padding:0 0">
                                                     <a href="https://www.perfexya.com/"  style="color:#d6dde1;text-decoration:none">Perfexya Empresa de limpieza en Madrid</a>
                                                  </td>
                                               </tr>
                                            </tbody></table>
                                         </td>
                                      </tr>
                                   </tbody></table>
                                </td>
                             </tr>
                          </tbody></table>
                       </td>
                    </tr>
                 </tbody></table>
                 </td>
                 </tr>
              </tbody></table>
{% endblock %}